
.header-bg{
    background-color: #ebe0e0;
}
.nav-link{
    color: black;
}
.carousel-head-text{
    background-color: #84d5ee;
}
.carousel-caption h1{
    color: #7a6ad8;
    font-size: 60px;
    font-weight: bolder;
}
.pic-m{
    margin-left: 100px;
}
.m-top{
    margin-top: 50px;
}
.button{
    text-align: center;
}